.form-container {
  position: fixed;
  top: -1;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: DodgerBlue;
}

.search-form {
  position: relative;
}

.input {
  padding: 10px 50px 10px 10px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 0.5rem;
}

.btn {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 8px;

  background-color: whitesmoke;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}
